html { margin: 20px }
body {
    margin: 0 auto;
    font-family: 'Baskerville', Georgia, Times, serif;
    font-size: 20px;
    line-height: 30px;
    padding: 15px;
    width: 960px;
    background: url("/img/bg.png") repeat fixed 0 0 #1A1A1A
}
header, footer, section, article {
    display: block;
}

#by {
    font-style: italic;
    margin-right: 5px;
    font-size: 28px;
}
#caption {
    position: absolute;
    font-size: 24px;
    margin: -135px 0 0 70px;
}
#path {
    color: #b53131;
}
.date {
    font-style: italic;
    float: right;
    line-height: 43px;
    margin-right: 30px;
}
a {
    color: #b83000;
}
h1 a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.post header {
    margin-bottom: 10px;
}
.post header h1 {
    margin-bottom: 10px;
    font-family: "Raleway";
}
.post header .date {
    position: relative;
    top: -100%;
}
.post {
    margin-bottom: 30px;
    border-bottom: 1px solid #111;
}
.post:last-child {
    margin-bottom: 10px;
    border-bottom: 0px solid #111;
}
.post p {
    margin: 10px 0;
}
.post .more {
    margin-top: -10px;
    margin-right: 30px;
    font-style: italic;
    text-align: right;
}
.more a {
    text-decoration: none;
}
.more a:hover { text-decoration: underline }

body > section > ul  {
    text-align: center;
    margin: 0;
}
body > section > ul > li {
    display: inline;
    font-size: 15px;
    margin: 0;
}
body > section > ul > li > a {
    color: #b8b8b8;
    margin: 0;
    text-decoration: none;
    text-align: center;
}

code {
    font-family: 'Anonymous Pro', 'Bitstream Vera Sans', 'Monaco', Courier, mono;
}
pre {
    padding: 20px;
}
blockquote {
    font-style: italic;
}

body > footer {
    text-align: left;
    margin-left: 10px;
    font-style: italic;
    font-size: 18px;
    color: #888;
}

.somebox {
    display: table !important;
    height: 100%;

    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;

    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);

    border: 1px solid rgba(255, 255, 255, 0.30);
    background-color: rgba(255, 255, 255, 0.06);

    padding: 10px;
}
.somebox .content {
    padding: 10px;
    background-color: #eee;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

    display: table-cell !important;
    vertical-align: middle !important;
}
.somebox > ul, .somebox > ul > li {
    display: block;
}
