<% url = [@config[:url], @path].join('/') %>
<article class="post">
  <header>
    <h1><%= title %></h1>
    <span class="date"><%= date %></span>
  </header>

  <section class="content">
    <%= body %>
  </section>


  <section class="comments">
   path: <%= Bitly.new(ENV['BITLY_USERNAME'], ENV['BITLY_API']).shorten(url) %>
  </section>
</article>

