<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/coderay.css">
    <link rel="stylesheet" type="text/css" href="/css/fonts.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title><%= title %></title>
  </head>
  <body>
    <section class="somebox">
      <ul>
          <li><a href="http://evaryont.me">Home</a></li>
          <li><a href="http://mindtables.heroku.com">Blog</a></li>
          <li><a href="http://evaryont.mp">Lifestream</a></li>
      </ul>
      <div class="content">
        <%= yield %>
      </div>
    </section>
    <footer>
      powered by a <a href="http://github.com/evaryont/toto">fork</a> of <a href="http://cloudhead.io/toto">toto</a>
<!-- Include the Google Friend Connect javascript library. -->
<script type="text/javascript" src="http://www.google.com/friendconnect/script/friendconnect.js"></script>
<!-- Define the div tag where the gadget will be inserted. -->
<div id="div-2899478739999424889" style="width:276px;"></div>
<!-- Render the gadget into a div. -->
<script type="text/javascript">
var skin = {};
skin['FONT_FAMILY'] = 'tahoma,sans-serif';
skin['BORDER_COLOR'] = 'transparent';
skin['ENDCAP_BG_COLOR'] = 'transparent';
skin['ENDCAP_TEXT_COLOR'] = '#cc6600';
skin['ENDCAP_LINK_COLOR'] = '#cc6600';
skin['ALTERNATE_BG_COLOR'] = 'transparent';
skin['CONTENT_BG_COLOR'] = 'transparent';
skin['CONTENT_LINK_COLOR'] = '#0000cc';
skin['CONTENT_TEXT_COLOR'] = '#333333';
skin['CONTENT_SECONDARY_LINK_COLOR'] = '#7777cc';
skin['CONTENT_SECONDARY_TEXT_COLOR'] = '#666666';
skin['CONTENT_HEADLINE_COLOR'] = '#333333';
skin['NUMBER_ROWS'] = '4';
google.friendconnect.container.setParentUrl('/' /* location of rpc_relay.html and canvas.html */);
google.friendconnect.container.renderMembersGadget(
 { id: 'div-2899478739999424889',
   site: '17640314974209116001' },
  skin);
</script>
    </footer>
  </body>
</html>

